.todo {
    /* width: 80%;
    min-width: 400px; */
    width: max(80%, 400px);  /* 보통 : 80%, 최소 : 400px */
    margin: 20px auto;  /*위아래 : 20px, 좌우 : 여백 균등 분배*/
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /*세로 : 아래로 2px, blur : 4px*/
}

.todo_form {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
}

.todo_input {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    flex: 1;  /* display flex 안의 아이템 중 여유 공간만큼 늘리자 */
}

.todo_button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}

.todo_button--add {
    background-color: rgb(109, 98, 255);
}

.todo_item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.todo_check {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #999;  /* 체크했을 때 배경색, 눈에 띄지 않게 하자 */
}

.todo_label {
    margin: 0 10px;
    flex: 1;
}

.todo_button--edit,
.todo_button--delete {
    font-size: 0.8rem;
    margin-left: 10px;
}

.todo_item--complete .todo_label {
    text-decoration: line-through;
    color: #999;
}